<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace: 该mapper.xml映射文件的唯一标识 -->
<mapper namespace="com.one.mapper.StudentMapper">



<!-- 一、基础方式的增删改查CRUD -->

	<select id="queryStudentByNo" resultType="com.one.entity.Student" parameterType="int">
		select * from student where stuNo = #{stuNo}
	</select>
	<insert id="addStudent" parameterType="com.one.entity.Student">
		insert into student(stuNo,stuName,stuAge) values(#{stuNo},#{stuName},#{stuAge})
	</insert>
	

	
</mapper>